:focus {
  outline: none; }

ul {
  margin: 0; }

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important; }

button:focus {
  outline: none !important; }

body {
  color: #4c4d4d;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-left: 260px; }

.overplay {
  background-color: #00000078;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 997;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out 0s; }
  .overplay.active {
    opacity: 1;
    visibility: visible; }

.header__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background-color: #111418;
  z-index: 999;
  text-align: center;
  overflow-y: auto; }
  .header__sidebar-thumb {
    margin-top: 50px; }
    .header__sidebar-thumb img {
      background-color: #343a40;
      padding: 10px;
      width: 180px;
      height: 180px;
      border-radius: 50%; }
  .header__sidebar-fullname {
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 21px;
    color: #fff; }
  .header__sidebar-list {
    margin-top: 40px; }
    .header__sidebar-list-item-link {
      color: #fff;
      text-transform: capitalize;
      display: inline-block;
      padding: 10px 0px;
      transition: all 0.4s ease-in 0s;
      font-size: 15px; }
      .header__sidebar-list-item-link.active {
        color: #20c997; }
      .header__sidebar-list-item-link:hover {
        color: #20c997;
        text-decoration: none !important; }
  .header__sidebar-social a {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    padding: 0 10px; }
    .header__sidebar-social a:hover {
      opacity: 0.8; }

.header__mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  background-color: #111418;
  padding: 15px 0px; }
  .header__mobile a {
    font-size: 22px;
    color: #fff; }

.section__home {
  position: relative;
  color: #fff; }
  .section__home-background {
    background-image: url("../images/header-bg.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0px; }
  .section__home-welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
    .section__home-welcome p {
      text-transform: capitalize;
      font-size: 28px; }
    .section__home-welcome h3 {
      text-transform: capitalize;
      font-size: 50px; }
    .section__home-welcome-contact {
      border: 2px solid #20c997;
      display: inline-block;
      color: #fff;
      width: 170px;
      height: 50px;
      line-height: 49px;
      border-radius: 20px;
      margin-top: 20px;
      text-transform: capitalize;
      transition: all 0.4s ease-in 0s; }
      .section__home-welcome-contact:hover {
        background-color: #20c997;
        text-decoration: none;
        color: #fff; }

.section.section__dark {
  background-color: #212529;
  padding-bottom: 100px; }

.section__title {
  text-align: center; }
  .section__title h2 {
    text-transform: capitalize;
    font-size: 36px;
    margin: 100px 0px;
    color: #fff;
    position: relative;
    display: inline-block; }
    .section__title h2::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
      height: 3px;
      background-color: #20c997; }

.section__about-content {
  text-align: left;
  color: #ffffff7d; }
  .section__about-content h3 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 15px; }
  .section__about-content p {
    line-height: 28px; }
  .section__about-content li {
    border-bottom: 1px solid #fafafa1f;
    padding: 10px 0px;
    color: #fff;
    font-size: 15px; }
    .section__about-content li:first-child {
      padding-top: 0; }
    .section__about-content li:last-child {
      border: 0; }

.section.section__dark-2 {
  background-color: #343a40;
  padding-bottom: 100px; }

.section__skill-progress-title {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 9px; }

.section__skill-progress-bar.html {
  width: 100%;
  height: 13px;
  border-radius: 20px;
  background-color: #212529;
  position: relative; }
  .section__skill-progress-bar.html::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    left: 0;
    z-index: 99;
    height: 11px;
    background-color: #20c997;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 70%; }

.section__skill-progress-bar.css {
  width: 100%;
  height: 13px;
  border-radius: 20px;
  background-color: #212529;
  position: relative; }
  .section__skill-progress-bar.css::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    left: 0;
    z-index: 99;
    height: 11px;
    background-color: #20c997;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 60%; }

.section__skill-progress-bar.scss {
  width: 100%;
  height: 13px;
  border-radius: 20px;
  background-color: #212529;
  position: relative; }
  .section__skill-progress-bar.scss::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    left: 0;
    z-index: 99;
    height: 11px;
    background-color: #20c997;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 55%; }

.section__skill-progress-bar.jquery {
  width: 100%;
  height: 13px;
  border-radius: 20px;
  background-color: #212529;
  position: relative; }
  .section__skill-progress-bar.jquery::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    left: 0;
    z-index: 99;
    height: 11px;
    background-color: #20c997;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 55%; }

.section__skill-progress-bar.reactjs {
  width: 100%;
  height: 13px;
  border-radius: 20px;
  background-color: #212529;
  position: relative; }
  .section__skill-progress-bar.reactjs::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    left: 0;
    z-index: 99;
    height: 11px;
    background-color: #20c997;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 15%; }

.section__skill-progress-bar.php {
  width: 100%;
  height: 13px;
  border-radius: 20px;
  background-color: #212529;
  position: relative; }
  .section__skill-progress-bar.php::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    left: 0;
    z-index: 99;
    height: 11px;
    background-color: #20c997;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 60%; }

.section__skill-progress-bar.laravel {
  width: 100%;
  height: 13px;
  border-radius: 20px;
  background-color: #212529;
  position: relative; }
  .section__skill-progress-bar.laravel::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    left: 0;
    z-index: 99;
    height: 11px;
    background-color: #20c997;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 55%; }

.section__skill-progress-bar.codeigniter {
  width: 100%;
  height: 13px;
  border-radius: 20px;
  background-color: #212529;
  position: relative; }
  .section__skill-progress-bar.codeigniter::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    left: 0;
    z-index: 99;
    height: 11px;
    background-color: #20c997;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 55%; }

.section__skill-progress-bar.bootstrap {
  width: 100%;
  height: 13px;
  border-radius: 20px;
  background-color: #212529;
  position: relative; }
  .section__skill-progress-bar.bootstrap::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    left: 0;
    z-index: 99;
    height: 11px;
    background-color: #20c997;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 70%; }

.section__skill-progress-bar.mysql {
  width: 100%;
  height: 13px;
  border-radius: 20px;
  background-color: #212529;
  position: relative; }
  .section__skill-progress-bar.mysql::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    left: 0;
    z-index: 99;
    height: 11px;
    background-color: #20c997;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 60%; }

.section__skill-progress-bar.git {
  width: 100%;
  height: 13px;
  border-radius: 20px;
  background-color: #212529;
  position: relative; }
  .section__skill-progress-bar.git::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    left: 0;
    z-index: 99;
    height: 11px;
    background-color: #20c997;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 40%; }

.section__skill-progress-bar.nodejs {
  width: 100%;
  height: 13px;
  border-radius: 20px;
  background-color: #212529;
  position: relative; }
  .section__skill-progress-bar.nodejs::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    left: 0;
    z-index: 99;
    height: 11px;
    background-color: #20c997;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 10%; }

@media only screen and (max-width: 991px) {
  body {
    margin-left: 0; }
  .header__sidebar {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-260px);
    transition: all 0.4s ease-in 0s; }
    .header__sidebar.active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0); } }

.section__contact {
  color: #fff; }
  .section__contact li {
    line-height: 27px;
    font-size: 16px; }
    .section__contact li .fa {
      color: #20c997;
      margin-right: 10px; }
  .section__contact .form-control {
    background-color: #232a31;
    border: 1px solid #232a31;
    color: #fff; }
  .section__contact-btn {
    background-color: #20c997;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    border: 0;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
    font-weight: 600; }
    .section__contact-btn:hover {
      background-color: #1baa80; }

.section__project-list {
  font-size: 16px; }
  .section__project-list li {
    line-height: 28px; }
  .section__project-list span {
    color: #fff;
    text-transform: capitalize; }
  .section__project-list a {
    text-decoration: none; }
    .section__project-list a:hover {
      color: #20c997 !important; }
