// font
$font: "Poppins", sans-serif;

// color
$colorBody: #4c4d4d;
$colorWhite: #fff;
$colorMain: #20c997;
$colorGrey: #ffffff7d;

// background
$bgSidebar: #111418;
$bgImages: #343a40;
$bgMain: #20c997;
$bgDark: #212529;
$bgDark2: #343a40;
$bgBorderBottom: #fafafa1f;
$bgForm: #232a31;
$bgBorderForm: #232a31;