// background
$bgSidebar: #191919;
$bgBorder: #101010;
$bgBlue: #11d6f0;
$bgScrollTrack: #242323; 
$bgScroll: #f5f5f5;
$bgScrollThumb:#dedede;

// color
$colorWhite: #fff;
$colorBody: #555;
$colorGrey: #888;