.header {
    &__mobile {
        padding: 10px 0px;

        &-thumb {
            img {
                background-color: $bgBorder;
                padding: 8px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-right: 5px;
            }

            span {
                text-transform: capitalize;
                font-size: 18px;
            }
        }

        .fa-bars {
            font-size: 25px;
            cursor: pointer;
        }
    }
}

main {
    height: 100%;
    margin-left: 289px;
    background-color: $bgBorder;
}

@media only screen and (max-width: 991px) {
    main {
        height: 100%;
        margin: 0;
    }

    .section {
        &__background {
            h2 {
                font-size: 35px !important;
            }
        }
    }

    .header {
        &__sidebar {
            opacity: 0;
            visibility: hidden;
            transform: translateX(-290px);
            transition: all 0.4s ease-in 0s;

            &.active {
                opacity: 1;
                visibility: visible;
                transform: translateX(0px);
            }
        }
    }
}