.section {
    &.section {
        &__dark {
            background-color: $bgDark;
            padding-bottom: 100px;
        }
    }

    &__title {
        text-align: center;

        h2 {
            text-transform: capitalize;
            font-size: 36px;
            margin: 100px 0px;
            color: $colorWhite;
            position: relative;
            display: inline-block;

            &::before {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                width: 60%;
                height: 3px;
                background-color: $bgMain;
            }
        }
    }

    &__about {
        &-content {
            text-align: left;
            color: $colorGrey;

            h3 {
                font-size: 26px;
                color: $colorWhite;
                margin-bottom: 15px;
            }

            p {
                line-height: 28px;
            }

            li {
                border-bottom: 1px solid $bgBorderBottom;
                padding: 10px 0px;
                color: $colorWhite;
                font-size: 15px;

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    border: 0;
                }
            }
        }
    }
}